name: myapp
description: "Aplicativo de doações"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  flutter_dotenv: ^6.0.0
  google_sign_in: ^7.2.0
  url_launcher: ^6.3.1
  xml: ^6.5.0
  cupertino_icons: ^1.0.8
  groq: ^1.1.1
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

  flutter_launcher_icons: ^0.13.1

flutter_launcher_icons:
  android: true
  ios: false
  image_path: "assets/icon/icon.png"

flutter:
  uses-material-design: true
  assets:
    - .env
